<p id="<%= sheet.id %>">
  <a tabindex="0" id="sheet_<%= sheet.id %>" class="inspectable-sheet" href="#" data-sheet-id="<%= sheet.id %>"
    role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Sheet Columns">
    <span class="glyphicon glyphicon-file" ></span>
    <%= sheet.name %>
  </a>
</p>
